<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="LinqCardDBConnectionString" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=LinqCardDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>